

<div class="container">
    <script src="//d3js.org/d3.v3.min.js"></script>


    <div class="col-lg-7">
        <script src="js/animation.js"></script>
    </div>
    <div class="col-lg-5">
        <button> gfdgdf</button>
    </div>
</div>





