






<div   class="container" style="color:black">

    <div id="counter" class="badge" style="margin-left:40%;font-size: 40px; "></div>

    <input id="start" type="button" class="btn btn-success" value="start" style="height:120px;width:120px;margin-top:10%;margin-left:40%; "/>
    <div id="question"></div>

    <div class="row">
    <lable class="label label-warning col-sm-2 lbl">your score:<label class="label label-warning col-sm-3 lbl" id="score"></label></lable>
        </div>
        <br/>
    <br/>
    <div id="answer" class="row" >

    </div>


</div>





<script src="js/trivia.js"></script>
