
    <div class="row">

        <div class="col-sm-5 ">
            <h2>Your Room</h2>

            <form  class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="control-label col-sm-3 " for="name">Room Name:</label>
                    <div class="col-sm-5">
                        <input type="text" id="name" class="form-control"  placeholder="name">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3" for="pass">Password:</label>
                    <div class="col-sm-5">
                        <input id="pass" type="password" class="form-control"  placeholder="Enter password">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button onclick="formclick()" type="button" class="btn btn-primary">create room</button>
                    </div>
                </div>
            </form>
        </div>


        <div class="col-sm-7 ">
            <h2>Rooms</h2>
        {{#each rooms}}

            <div class="row">

                 <label id="name" for="join" class="col-sm-2 mylbl">
                   {{this.Name}}
                 </label>
                <label id="admin" for="join" class="col-sm-2 mylbl">
                  {{this.Admin}}
                </label>
                <label id="number" for="join" class="col-sm-2 mylbl">
                  {{this.NumberOfPlayer}}
                </label>

                <div class="col-sm-1 ">
                    <button  name={{this.Name}} onclick="join(this.name)" type="button" class="btn btn-danger">join</button>
                </div>

            </div>
           {{/each}}
            </div>

        </div>
    </div>

<script src="js/Jqueryfunction.js"></script>
